.n-tag.n-customize {
    > .n-tag__content {
        padding-top: 1px;
    }
}

.n-data-table.n-customize {
    .n-data-table-base-table-header .n-data-table-th {
        height: 48px;
    }
}

.n-dialog {
    &.n-transfer .n-dialog__title {
        user-select: none;
        cursor: move;
    }
}

.n-space {
    &.n-stomer .n-button {
        min-width: 80px;
    }
}

.n-input.n-customize {
    .n-input__placeholder {
        user-select: none;
    }
}

.n-form {
    &.n-stomer {
        margin-top: 32px;
    }
    &.n-customize {
        .n-input .n-input__placeholder {
            user-select: none;
        }
    }
}
