.n-tag.n-customize {
    > .n-tag__content {
        padding-top: 1px;
    }
}

.n-button.n-customize {
    &.is-basic-left {
        margin-left: auto;
    }
    &.is-basic-right {
        margin-right: auto;
    }
}

.n-data-table.n-customize {
    .n-data-table-base-table-header .n-data-table-th {
        height: 48px;
    }
}

.n-dialog {
    &.n-transfer .n-dialog__title {
        user-select: none;
        cursor: move;
    }
}
