.setup-content {
    position: relative;
    .vnode-column {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .color-scope {
            position: relative;
            padding-top: calc(100% - 2px);
            cursor: pointer;
            border: 1px solid #ffffff;
            border-radius: 1px;
            > i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        .nav-style {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            > img {
                width: 100%;
                display: block;
                margin-bottom: 5px;
            }
        }

        .column-scope {
            display: flex;
            align-items: center;
        }
    }
}
